 /* properties for body element */

body{
  font-family: 'Kumbh Sans', sans-serif;
}

.bg-1{
background: url("images/bg-desktop-dark.jpg") no-repeat;
background-size: 100%;

background-color: hsl(235, 21%, 11%);
}
.bg-2{
  background: url("images/bg-desktop-light.jpg") no-repeat;
  background-color: hsl(0, 0%, 98%);
  background-size: 100% ;
}
    /* ************************* */

.to-do{
  width: 30%;
  margin-left: 35%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
h1{
color: white;
font-size: 3rem;

letter-spacing: 7px;
}
.to-do2{
  display: flex;
  justify-content: space-between;
}
.parent{
  width:29%;
  margin-left: 35%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 3px;
  font-size:0.85rem;
  margin-top : 20px;

}
.parent:hover{
  cursor: pointer;
}

/* properties for unordered list element */
ul{

list-style-type: none;
}
li{
  padding: 3px;
  height: 50px;
  position: relative;
  right:8%;
}
li:hover{
  cursor: pointer;
}
li p {
  display: inline-block;
  margin-left: 5%;
}

hr{
  width:110%;
  position: relative;
  right: 10%;
}

.hidden-list{
  display: none;
}
.paraindiv{
  text-decoration:line-through grey ;
  color: grey;
}

/* properties for elements in options tab */
.details{
  display: flex;
  justify-content: space-around;
}
.three-options{

  align-self: center;
  justify-content: space-between;
}
.three-options-mobile{

 display: none;
}

.clear:hover{
  color: white;
}

.all{
color: hsl(220, 98%, 61%);
}


/* properties for input element */
.typing{
  width: 90%;
  border-radius: 5px;
  height: 30%;
  padding: 15px;
  border-style: none;

}
.typing-input{
 color: hsl(234, 39%, 85%);
}

input{
  border-style: none;
  background-color: hsl(235, 24%, 19%);
}
input:focus{
  outline: none;
}
/* image properties */
.sun{
width:10%;
height: 5%;
align-self: center;
}
.check{
height: 0;
width: 0;
border-radius: 100%;
border-style: solid;
padding: 10px;
border-width: thin;
border-color: grey;
}

.hidden-image{
  height:10px;
  width: 10px;
  background-image: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

li .cross{
position: absolute;
right:0;
bottom:30%;
}


/* color properties */
.colour-1{
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}
.colour-2{
  background-color: white;
  color: hsl(235, 19%, 35%);
}
.white{
  color:hsl(236, 9%, 61%)
}
.white-clear{
  color:hsl(236, 9%, 61%);
}
.white > span:hover{
  color:hsl(235, 19%, 35%);
}
.white-clear:hover{
  color: hsl(235, 19%, 35%);
}
.black > span:hover{
  color:hsl(236, 33%, 92%);
}
.black{
  color: hsl(234, 11%, 52%);
}
.black-clear:hover{
  color:hsl(236, 33%, 92%);
}
.black-clear{
  color: hsl(234, 11%, 52%);
}



@media screen and (max-width:550px) {

  .bg-1{
  background: url("images/bg-desktop-dark.jpg") no-repeat;

  background-color: hsl(235, 21%, 11%);
  }
  .bg-2{
    background: url("images/bg-desktop-light.jpg") no-repeat;
    background-color: white;
  }
 .to-do{
    width: 95%;
    margin: auto;
  }
  .parent{
    width:90%;
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    }


.three-options-mobile{
     display: flex;
     padding: 18px;
     width: 85%;
     margin-top:15px;
     margin-left: 13px;
     justify-content: space-around;
     border-radius: 5px;
     font-size:0.85rem;
     }

}
