
.bg-1{
background: url("images/bg-desktop-dark.jpg") no-repeat;
background-size: 100%;

background-color: hsl(235, 21%, 11%);
}
.bg-2{
  background: url("images/bg-desktop-light.jpg") no-repeat;
  background-color: white;
  background-size: 100% ;

}
.colour{
  background-color: white;
}
.color{
  background-color: white;
}
.to-do{
  width: 30%;
  margin-left: 35%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;

}

.to-do2{
  display: flex;
  justify-content: space-between;
}
ul{

  list-style-type: none;

}
li{
  padding: 3px;
  height: 50px;
  position: relative;
}
li:hover{
  cursor: pointer;
}
li p {
  display: inline-block;
  margin-left: 5%;

}
li img{
/* position: absolute;
right:20px;
margin-top: 10px; */
}
.hidden-list{
  display: none;
}

.block-list{
  display : block;
}
.parent{
  width:29%;
  margin-left: 35%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 3px;
  font-size:0.85rem;
  background-color: hsl(235, 24%, 19%);
  margin-top : 20px;

}
.details{
  display: flex;
  justify-content: space-around;
}
.three-options-mobile{

 display: none;
}



.paraindiv{
  text-decoration:line-through grey ;
  color: grey;
}
.parent:hover{
  cursor: pointer;
}
.three-options{

  align-self: center;
  justify-content: space-between;
}
.clear:hover{
  color: white;
}
.three-options > span:hover{
  color:white;
}
h1{
color: white;
font-size: 3rem;

letter-spacing: 7px;
}
.sun{
width:10%;
height: 5%;
align-self: center;


}

.typing{
  width: 90%;
  border-radius: 5px;
  height: 30%;
  padding: 15px;
  border-style: none;

}
input{
  border-style: none;
  background-color: hsl(235, 24%, 19%);
}
.colour-1{
  background-color: hsl(235, 24%, 19%);
}
.colour-2{
  background-color: white;
}



.box{
  width:20px;
  height: 20px;
  border-radius: 50%;
}

@media screen and (max-width:550px) {

  .bg-1{
  background: url("images/bg-desktop-dark.jpg") no-repeat;

  background-color: hsl(235, 21%, 11%);
  }
  .bg-2{
    background: url("images/bg-desktop-light.jpg") no-repeat;
    background-color: white;
  }
.to-do{
    width: 95%;
    margin: auto;
  }
  .parent{
    width:90%;
    margin: auto;
    margin-top: 10px;
    padding: 8px;
    }

    .div-0{
      width:90% ;
      margin:auto;
      margin-top: 10px;
      margin-bottom: -10px;
     }

     .three-options{
       visibility: hidden;
     }
     .three-options-mobile{
     display: flex;
     background-color: hsl(235, 24%, 19%);
     padding: 18px;
     width: 85%;
     margin-top:15px;
     margin-left: 13px;
     justify-content: space-around;
     border-radius: 5px;
     font-size:0.85rem;
     }
   .three-options-mobile > span:hover{
     color:white;
   }
}
